// Colors
$toggle-checked-color: #0075a2 !default;
$toggle-unchecked-color: #999 !default;
$toggle-border: transparent !default;
$toggle-bg-color : gray !default;
// Size
$toggle-handle-size: 20px !default;
$toggle-gap: $toggle-handle-size / 10;
$toggle-width: 40px !default;
$toggle-height: $toggle-handle-size - $toggle-gap !default;

// Features

.ui-toggle {
	position: relative;
	span,label {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
	.ui-toggle-label {
		margin-left: $toggle-handle-size / 4;
	}
	&.round .ui-toggle-handle {
		border-radius: 100%;
		&:before {
			border-radius: $toggle-height;
		}
		&:after {
			border-radius: 100%;
		}
	}

	input {
		position: absolute;
		margin-left: -9999px;
		visibility: hidden;
		& + .ui-toggle-handle {
			top: 0;
			left: 0;
			position: relative;
			background: $toggle-bg-color;
			width: $toggle-width;
			height: $toggle-height;
			border: $toggle-border;

			&:before,
			&:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				content: "";
			}
			&:before {
				right: 1px;
				background-color: #f1f1f1;
				transition: background 0.4s;
				width: $toggle-width;
				background-color: $toggle-unchecked-color;
				@include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.9));
			}
			&:after {
				width: $toggle-handle-size;
				height: $toggle-handle-size;
				top: -$toggle-gap / 2;
				background-color: white;
				@include box-shadow (0 1px 3px rgba(0, 0, 0, 0.5));
				@include transition(box-shadow 0.2s, transform 0.3s,margin 0.3s ease-in-out);
			}
			&:hover, &:focus, &:active {
				&:after {
					@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.5), 0 0 0 10px rgba(black, 0.06));
				}
			}
		}
		&:checked {
			& + .ui-toggle-handle {
				&:before {
					background: $toggle-checked-color;
				}
				&:after {
					margin-left: $toggle-width - $toggle-handle-size;
				}
			}
		}
	}
}

